<div class='jumbotron'>
  <% @page_title = 'Irregular Expense Budgeting' %>
  <div class='row text-center'>
    <div class='col-xs-12'>
      <h1>Welcome to BudgetStart</h1>
      <h3>Irregular Expenses Derail Your Budget. I can help</h3>
    </div>
    <div class='col-xs-12 margin-15px015px0'>
      <%= render 'shared/form_error', error_object: @user %>
      <%= form_for @user, html: { class: 'form-inline'} do |f| %>
        <div class="form-group">
          <%= f.label :email, class: 'sr-only' %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
        <div class="form-group">
          <%= f.label :password, class: 'sr-only' %>
          <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
        </div>
        <%= f.submit 'join', class: 'btn btn-success' %>
      <% end %>
    </div>
    <div class='col-xs-12'>
      Already a member? <%= link_to 'login', '#' %>
    </div>
  </div>
</div>
